{% extends "auctions/layout.html" %}

{% block body %}
<div style="display: flex; flex-direction: column; gap: 20px;">
    {% if watchlist %}
    <form method="post" action="{% url 'auction' auction.id %}">
        {% csrf_token %}
        <button name="unwatchlist" class="btn btn-warning">
            Remove Watchlist -
        </button>
    </form>
    {% else %}
    <form method="post" action="{% url 'auction' auction.id %}">
        {% csrf_token %}
        <button name="watchlist" class="btn btn-primary">
            Watchlist +
        </button>
    </form>
    {% endif %}
    <h1>
        Listing: {{auction.title}}
    </h1>
    <img src="{{auction.img}}" alt="{{auction.title}}" style="width: 350px;">
    <p>{{auction.desc}}</p>
    <h4>Starting Bid: ${{ auction.init_bid }}</h4>
    {% if auction.is_active %}
    <h2>Current Price: ${{ auction.current_price }}</h2>
    <form action="{% url 'auction' auction.id %}" method="post">
        {% csrf_token %}
        {% if auction.user == user %}
        <input hidden name="auction_id" value="{{auction.id}}">
        <button type="submit" class="btn btn-primary" name="close">Close</button>
        {% else %}
        <div class="form-group">
            <input name="bid" placeholder="bid" class="form-control" style="width: 30%;" type="number"
                min="{{auction.current_price}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Place Bid</button>
        {% endif %}
    </form>
    {% else %}
    <h2>Closed Price: ${{ auction.current_price }}</h2>
    {% if auction.get_winner %}
    <h6 style="color: blue;">Winner: {{auction.get_winner.username}}</h6>
    {% else %}
    <h4>No one bidded.</h4>
    {% endif %}
    {% endif %}

    {% if message %}
    <p style="font-weight: 700;">{{message}}</p>
    {% endif %}
    <div>
        <h3>Details</h3>
        <ul>
            <li>Listed by: {{auction.user}}</li>
            <li>Category:
                <ul>
                    {% for category in auction.categories.all %}
                    <li>{{ category.title }}</li>
                    {% empty %}
                    <li>No categories</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h3>Comments</h3>
        <ul class="list-group">
            {% for comment in auction.comments.all %}
            <li class="list-group-item">{{comment.user}}: {{comment.text}}</li>
            {% empty %}
            <p>No comments yet.</p>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'auction' auction.id %}">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="comment" type="text" class="form-control"></textarea>
                <button type="submit" class="btn btn-outline-primary btn-small">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}