{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<div class="card-deck" style="padding: 20px;">
    {% if user.is_authenticated %}
    {% for auction in auctions %}
    <a href="{% url 'auction' auction.id %}" class="card">
        <img class="card-img-top" style="width: 200px;" src="{{auction.img}}" alt="{{auction.title}}">
        <div class="card-body">
            <h5 class="card-title">{{auction.title}}</h5>
            <p class="card-text">{{auction.desc}}</p>
            <p class="card-text"><small class="text-muted">Created: {{auction.create_datetime}}</small></p>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <div>
        <p>Please <a href="{% url 'login' %}">login</a> to see listings.</p>
    </div>
    {% endif %}
</div>
{% endblock %}