{% extends 'auctions/layout.html' %}

{% block body %}
{% for auction in list %}
<a href="{% url 'auction' auction.auction.id %}" class="card">
    <img class="card-img-top" style="width: 200px;" src="{{auction.auction.img}}" alt="{{auction.auction.title}}">
    <div class="card-body">
        <h5 class="card-title">{{auction.auction.title}}</h5>
        <p class="card-text">{{auction.auction.desc}}</p>
        <h2>${{auction.auction.current_price}}</h2>
        <p class="card-text"><small class="text-muted">Created: {{auction.auction.create_datetime}}</small></p>
    </div>
</a>
{% empty %}
<p>
    No auction watchlisted.
</p>
{% endfor %}
{% endblock %}